<div style="font-family:Roboto; background-image:url("background_image.jpg")">
  <div class="page-header">
    <h1>Welcome to Blue Sun Corp</h1>
    <p>Check out some of our wares!</p>
  </div>
  <div class"jumbotron old_timey_clothes">
    <h3>We sell a variety of wares, including Old Timey Clothes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas nec elit vel placerat. Pellentesque vel velit nec urna blandit interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae elit ac ex rhoncus bibendum ac at ligula. Quisque imperdiet molestie risus, id maximus mi venenatis quis. Ut venenatis ante vitae leo semper convallis. Mauris accumsan elit felis, scelerisque consequat ex ornare molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac odio et justo pretium auctor. Aliquam tincidunt feugiat dolor id sollicitudin. Cras non varius ligula. Curabitur pellentesque cursus dapibus.</p>
  </div>
  <div>
  </div>
  <div class"jumbotron fruity_oaty_bars">
    <h3>We sell Fruity Oaty Bars</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas nec elit vel placerat. Pellentesque vel velit nec urna blandit interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae elit ac ex rhoncus bibendum ac at ligula. Quisque imperdiet molestie risus, id maximus mi venenatis quis. Ut venenatis ante vitae leo semper convallis. Mauris accumsan elit felis, scelerisque consequat ex ornare molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac odio et justo pretium auctor. Aliquam tincidunt feugiat dolor id sollicitudin. Cras non varius ligula. Curabitur pellentesque cursus dapibus.</p>
  </div>
  <div class"jumbotron top_secret">
    <h3>About Blue Sun Corp</h3>
    <p>We are everywhere.  We are no longer involved in subliminal messaging.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas nec elit vel placerat. Pellentesque vel velit nec urna blandit interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae elit ac ex rhoncus bibendum ac at ligula. Quisque imperdiet molestie risus, id maximus mi venenatis quis. Ut venenatis ante vitae leo semper convallis. Mauris accumsan elit felis, scelerisque consequat ex ornare molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac odio et justo pretium auctor. Aliquam tincidunt feugiat dolor id sollicitudin. Cras non varius ligula. Curabitur pellentesque cursus dapibus.</p>
  </div>
</div>
