@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome-sprockets";
@import "font-awesome";

.h1 {
  font-family: "Roboto Slab";
}
.body {
  font-family: "Roboto";
}
