<!DOCTYPE html>
<html>
<head>
  <title>Blue Sun Corp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({google: ['Roboto Slab', 'Roboto']}) %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div style="background-color:lightblue">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><i class="fa fa-sun-o"></i> Blue Sun Corp</a>
        <ul class="nav navbar-nav navbar">
          <li><a href="#">Old Timey Clothes</a></li>
          <li><a href="#">Fruity Oaty Bars</a></li>
          <li><a href="/top_secret">Top Secret</a></li>
        </ul>
      <div>
    </div>
  </div>
</nav>
<div class="container" style="background-color:cream background-image:image-url("background_image.jpg")">
    <%= yield %>
</div>

<footer class="jumbotron" style="color:#5e5e5e; background-color:lightblue;">
  <div class="social-icons text-center">
    <a href="#"><i class="fa fa-sun-o fa-2x"></i></a>
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
    <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
  </div>
</footer>

</body>
</html>
